In [1]:
import pandas as pd
import numpy as np
import tabula as tb
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline
plt.style.use('ggplot')
sns.set(rc = {'figure.figsize':(15,8)}, color_codes=True)

df = pd.read_csv('atx_listings.csv')

In [2]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,5456,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,NaN,78702,30.26057,-97.73441,Entire home/apt,111,2,601,2022-05-25,3.72,1,309,44,NaN
1,5769,NW Austin Room,8186,Elizabeth,NaN,78729,30.45697,-97.78422,Private room,39,1,264,2021-07-03,1.78,1,58,1,NaN
2,6413,Gem of a Studio near Downtown,13879,Todd,NaN,78704,30.24885,-97.73587,Entire home/apt,66,30,118,2022-05-31,0.78,1,0,2,NaN
3,6448,"Secluded Studio @ Zilker - King Bed, Bright & ...",14156,Amy,NaN,78704,30.26034,-97.76487,Entire home/apt,149,3,278,2022-05-22,2.12,1,90,33,NaN
4,8502,Woodland Studio Lodging,25298,Karen,NaN,78741,30.23466,-97.73682,Entire home/apt,44,3,48,2021-11-13,0.32,1,83,2,NaN

In [3]:
df['neighbourhood_group'] = df['neighbourhood']
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,5456,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,78702,78702,30.26057,-97.73441,Entire home/apt,111,2,601,2022-05-25,3.72,1,309,44,NaN
1,5769,NW Austin Room,8186,Elizabeth,78729,78729,30.45697,-97.78422,Private room,39,1,264,2021-07-03,1.78,1,58,1,NaN
2,6413,Gem of a Studio near Downtown,13879,Todd,78704,78704,30.24885,-97.73587,Entire home/apt,66,30,118,2022-05-31,0.78,1,0,2,NaN
3,6448,"Secluded Studio @ Zilker - King Bed, Bright & ...",14156,Amy,78704,78704,30.26034,-97.76487,Entire home/apt,149,3,278,2022-05-22,2.12,1,90,33,NaN
4,8502,Woodland Studio Lodging,25298,Karen,78741,78741,30.23466,-97.73682,Entire home/apt,44,3,48,2021-11-13,0.32,1,83,2,NaN

In [4]:
dict = {
  78701:"Downtown", 78712:"UT", 78704:"South Atx", 78745:"South Atx", 78748:"South Atx", 78703:"Central Atx", 
  78705:"Central Atx", 78751:"Central Atx", 78752:"Central Atx", 78756:"Central Atx", 78757:"Central Atx", 
  78741:"Southeast Atx", 78744:"Southeast Atx", 78747:"Southeast Atx", 78742:"Southeast Atx", 
  78617:"Southeast Atx", 78719:"Southeast Atx", 78612:"Southeast Atx", 78723:"Central East Atx", 78722:"Central East Atx",
  78721:"Central East Atx", 78702:"Central East Atx", 78735:"Southwest Atx", 78736:"Southwest Atx", 
  78739:"Southwest Atx", 78749:"Southwest Atx", 78733:"Westlake", 78746:"Westlake", 78731:"Northwest Atx", 
  78750:"Northwest Atx",  78759:"Northwest Atx", 78753:"Northeast Atx", 78754:"Northeast Atx", 78725:"East Atx", 
  78724:"East Atx", 78758:"North Atx", 78729:"North Atx", 78728:"North Atx", 78727:"North Atx",
  78738:"Lake Travis", 78734:"Lake Travis", 78654:"Lake Travis", 78669:"Lake Travis", 78663:"Lake Travis",
  78732:"River North", 78730:"River North", 78726:"River North", 78737:"Dripping Springs TX", 
  78619:"Dripping Springs TX", 78620:"Dripping Springs TX", 78636:"Dripping Springs TX", 78641:"Leander TX", 78645:"Leander TX", 
  78681:"Round_rock TX", 78664:"Round_rock TX", 78626:"Georgetown TX", 78628:"Georgetown TX", 
  76530:"Georgetown TX", 78653:"Manor TX", 78621:"Manor TX", 78656:"San Marcos TX", 78655:"San Marcos TX", 
  78666:"San Marcos TX", 78652:"Hays-Buda TX", 78610:"Hays-Buda TX", 78613:"Cedar Park TX", 78717:"Cedar Park TX",
  78615:"Coupland TX", 78605:"Bertram TX", 76574:"Waterloo TX", 78616:"Lockhart TX",78644:"Lockhart TX", 
  78634:"Hutto TX", 78640:"Kyle TX", 78602:"Bastrop TX", 78662:"Bastrop TX", 78660:"Pflugerville TX", 
  78611:"Burnet TX", 78676:"Wimberley TX", 78642:"Liberty Hill TX"
}

In [5]:
df = df.replace({"neighbourhood_group": dict})

In [6]:
df['neighbourhood_group'].value_counts()

South Atx              2715
Central East Atx       2394
Central Atx            2042
Southeast Atx          1271
Downtown               1069
Lake Travis             967
North Atx               858
Dripping Springs TX     757
Leander TX              541
Wimberley TX            475
Northwest Atx           370
Burnet TX               352
San Marcos TX           341
Westlake                330
Southwest Atx           313
Northeast Atx           290
Round_rock TX           271
Georgetown TX           236
Pflugerville TX         231
Cedar Park TX           207
Manor TX                175
East Atx                165
Hays-Buda TX            156
Bastrop TX              126
Kyle TX                 115
River North             107
Hutto TX                 78
Lockhart TX              56
Liberty Hill TX          35
Waterloo TX              19
Bertram TX                5
Coupland TX               3
UT                        1
Name: neighbourhood_group, dtype: int64

In [7]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,5456,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,Central East Atx,78702,30.26057,-97.73441,Entire home/apt,111,2,601,2022-05-25,3.72,1,309,44,NaN
1,5769,NW Austin Room,8186,Elizabeth,North Atx,78729,30.45697,-97.78422,Private room,39,1,264,2021-07-03,1.78,1,58,1,NaN
2,6413,Gem of a Studio near Downtown,13879,Todd,South Atx,78704,30.24885,-97.73587,Entire home/apt,66,30,118,2022-05-31,0.78,1,0,2,NaN
3,6448,"Secluded Studio @ Zilker - King Bed, Bright & ...",14156,Amy,South Atx,78704,30.26034,-97.76487,Entire home/apt,149,3,278,2022-05-22,2.12,1,90,33,NaN
4,8502,Woodland Studio Lodging,25298,Karen,Southeast Atx,78741,30.23466,-97.73682,Entire home/apt,44,3,48,2021-11-13,0.32,1,83,2,NaN

In [8]:
df.to_csv('atx_listings1.csv', index=False)